<div class="container">
	<div class="footer">
		<small>
			Copyright &copy; <a href="https://www.udemy.com">The complete Ruby on Rails Developer</a>
			by <a href="http://www.lakhanmeena.com">Lakhan Meena</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to 'About' %></li>
			</ul>
		</nav>	
	</div>
</div>